**/*.git
*~
*.o
*.tmp
*.so

*/*/*wm-shell*
*/*/*.egg-info/
**/*.egg-info/


*.idea/*
img/*

.clang-format
.clang-format
.dockerignore
.flake8
.gitignore
.pre-commit-config.yaml
.readthedocs.yml
.renovaterc
.tarignore
.travis.yml

CODE_OF_CONDUCT.md
CONTRIBUTING.md

dev-requirements.txt

python_transport/build/*
python_transport/dist/*
python_transport/docs/source/api/*
python_transport/docs/build/*

container/common/wm_transport_service.yml
