*.whl
*.pyc
sink_service/build/
sink_service/c-mesh-api/
*/*.idea
*/*.wm-hell*
public-apis/
*/docs/wm-*
*/*/build-*.txt
build-*.txt
**/*wm-shell*
*/*/*.egg-info/
**/*.egg-info/

Pipfile

**/build/
**/dist/

public/
packets/
release/
