*.7z
*.so
*.whl
*.pyc
**/*.idea/*
*/*.wm-hell*
public-apis/
*/docs/wm-*
*/*/build-*.txt
build-*.txt
**/*wm-shell*
*/*/*.egg-info/
**/*.egg-info/
**/build/
**/dist/

sink_service/build/
python_transport/docs/source/api/*

public/
packets/
release/

.pre-commit-config.yaml
.flake8
.clang*
.ci/manifest/*
.ci/_repo/*
.pylintrc
dev-requirements.txt

.repo/*
_repo/*
python_transport/docs/source/api/
container/wm_gateway.env
container/common/wm_transport_service.yml
tests/services/wait-for-it/*
**/*.private*
.ci/_repo*
sink_service.log
