language: python
python:
  - "3.6"
services:
  - docker

dist: "xenial"
jobs:

before_install:
  - sudo apt-get install build-essential libsystemd-dev dbus qemu-user-static
  - sudo gem install github_changelog_generator
  - pip3 install pipenv
  - sudo ./.ci/install-repo.sh
  - ./.ci/install-devtools.sh
  - pip3 install -r dev-requirements.txt
  - pip3 install -r python_transport/docs/requirements.txt
  - ./.ci/style-check.sh
  - ./.ci/build.sh
  - ./.ci/build-images.sh
  - ./.ci/fetch-artifacts.sh

install:
  - pip3 install ./dist/${PYTHON_PKG_NAME}*linux_x86_64.whl

script:
  - ./.ci/test-template-generation.sh
  - ./.ci/releases.sh
  - source releases.env

deploy:
- provider: releases
  api_key: ${GH_TOKEN}
  file_glob: true
  file:
    - "${TRAVIS_BUILD_DIR}/dist/*"
    - "${TRAVIS_BUILD_DIR}/${PYTHON_PKG_PATH}/CHANGELOG.md"
  skip_cleanup: true
  draft: ${GH_RELEASE_DRAFT} = true
  name: ${GH_RELEASE_NAME}
  body: ${GH_RELEASE_BODY}
  prerelease: ${GH_RELEASE_CANDIDATE}
  on:
    tags: true
    branch: master

- provider: script
  script: bash .ci/deploy-pypi.sh ${TRAVIS_BUILD_DIR}/dist/${PYTHON_PKG_NAME}*
  on:
    tags: true
    branch: master

- provider: script
  script: bash .ci/deploy-docker.sh
  on:
    branch: master

env:
  global:
    - PIPENV_VENV_IN_PROJECT=1
    - PIPENV_IGNORE_VIRTUALENVS=1
    - PYTHON_PKG_PATH=python_transport
    - PYTHON_PKG_NAME=wirepas_gateway
