language: python
python:
  - "3.6"
services:
  - docker

dist: "xenial"
jobs:

before_install:
  - sudo apt-get install build-essential libsystemd-dev dbus
  - pip3 install pipenv
  - sudo ./.ci/install-repo.sh
  - ./.ci/install-devtools.sh
  - pip3 install -r dev-requirements.txt

script:
  - ./.ci/style-check.sh
  - ./.ci/build.sh
  - ./.ci/build-images.sh
  - pip3 install python_transport/dist/wirepas_gateway*.whl


deploy:
  provider: pypi
  user: "wirepas"
  server: https://test.pypi.org/legacy/
  password:
    secure: "JTfaa3FCh5l+uLVNwn2RAt7tbmoJ0A4b5E4uUx7alk1/D29ZM6CiXg0PhQs8MzT/MrUTkfuIgKQGhlDml3sUigaqBusoNjAfKd1yLtRRns53r54qztRPhCPJTkbR2M5+6GyRRY5Dhz4eTep3H35a4YFZqnmhPZX7cGnp9XzI6ykvXR0OX38RcqlaqOmVfn8GtTyKRdiXXa1sHTdHhBHTa+BFRoKU1NUHARuj/FPu5TD/cTjd7ZDsBGjSBtywveJZA2RFDaapqOI80Yj2HmwNirIgLoAODbZUAtVbESiz+NtXquX0zLQbUWHIwB6eKnqxNnXdF3VGbkeKHdRjRwxS6SIthMDruOOzKpWLij6KaIuubZ8gKP73T7qSu42l/Wp+voi6FrvJrUqLbXVMGw1W+XWrPqAu7LfBN3Crfv1JhTqwMz1bJeepuk2f8msGH8KpY7fnqbLN1CPTW5iLcst/9BjB3cZ7lKB/8adOPwNFZDf5onywHwsF/e7oNuBC10F54YMU5C1l2xI3ZJdot4rzVMqWBGfisAsZtrpVJ+x4ubXp15r4bcWUwVwvyN08PSjLMk9gFioPdEzFGCgYhp2LdMBJ6SDLjZOGrFEQv2z2UiqGyBeyJs9YSVL0R6s5HaFEpthv03MY0vTEcL2gI9IiaTSDv89CYGClK7AvZWHe+YI="
  skip_existing: true
  skip_cleanup: true
  on:
    branch: pypi-test

env:
  global:
    - PIPENV_VENV_IN_PROJECT=1
    - PIPENV_IGNORE_VIRTUALENVS=1
