name: build sink service docker

on:
  push:
    branches:
      - master
    paths:
      - 'docker/sink_service/Dockerfile'
      - 'sink_service/**'
      - '.github/workflows/docker_sink_service.yml'

  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag to push on docker hub'
        required: true

  release:
    types: [created]

env:
  IMAGE_NAME: 'wirepas/gateway_sink_service'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v2

      - name: get c-mesh-api with submodule
        run: git submodule update --init

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Set tag for push
        if: github.event_name == 'push'
        run: echo "TAG1=$IMAGE_NAME:edge" >> $GITHUB_ENV

      - name: Set tag for manually triggered
        if: github.event_name == 'workflow_dispatch'
        run: echo "TAG1=$IMAGE_NAME:${{ github.event.inputs.tag }}" >> $GITHUB_ENV

      - name: Set tag for release version
        if: github.event_name == 'release'
        run: echo "TAG1=$IMAGE_NAME:${{ github.event.release.tag_name }}" >> $GITHUB_ENV

      - name: Set additionnal latest tag also for official release
        if: github.event_name == 'release' && !contains(github.event.release.tag_name, 'rc')
        run: echo "TAG2=$IMAGE_NAME:latest" >> $GITHUB_ENV

      - name: Login to docker hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: docker/sink_service/Dockerfile
          platforms: linux/amd64,linux/arm,linux/arm64
          push: true
          build-args: GATEWAY_BUILD_SHA1= ${{ github.sha }}
          tags: |
            ${{ env.TAG1 }}
            ${{ env.TAG2 }}
