name: build transport service docker

on:
  push:
    branches:
      - master
    paths:
      - 'docker/transport_service/Dockerfile'
      - 'python_transport/**'
      - '.github/workflows/docker_transport_service.yml'

  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag to push on docker hub'
        required: true

  release:
    types: [created]

env:
  IMAGE_NAME: 'wirepas/gateway_transport_service'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: Set up QEMU
        run: sudo apt-get update && sudo apt-get install qemu-user-static -y

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set tag for push
        if: github.event_name == 'push'
        run: |
          echo "WM_TRANSPORT_VERSION=0.0.0.dev0.git+${{ github.sha }}" >> $GITHUB_ENV
          echo "TAG1=$IMAGE_NAME:edge" >> $GITHUB_ENV

      - name: Set tag for manually triggered
        if: github.event_name == 'workflow_dispatch'
        run: |
          VERSION="${{ github.event.inputs.tag }}"
          echo "WM_TRANSPORT_VERSION=${VERSION#v}" >> $GITHUB_ENV
          echo "TAG1=$IMAGE_NAME:${VERSION}" >> $GITHUB_ENV

      - name: Set tag for release version
        if: github.event_name == 'release'
        run: |
          VERSION="${{ github.event.release.tag_name }}"
          echo "WM_TRANSPORT_VERSION=${VERSION#v}" >> $GITHUB_ENV
          echo "TAG1=$IMAGE_NAME:${VERSION}" >> $GITHUB_ENV

      - name: Set additionnal latest tag also for official release
        if: github.event_name == 'release' && !contains(github.event.release.tag_name, 'rc')
        run: echo "TAG2=$IMAGE_NAME:latest" >> $GITHUB_ENV

      - name: Login to docker hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: docker/transport_service/Dockerfile
          platforms: linux/amd64, linux/arm64, linux/arm/v7, linux/arm/v6
          push: true
          build-args: |
            GATEWAY_BUILD_SHA1=${{ github.sha }}
            WM_TRANSPORT_VERSION=${{ env.WM_TRANSPORT_VERSION }}
          tags: |
            ${{ env.TAG1 }}
            ${{ env.TAG2 }}
