name: Generate transport service wheel

on:
  release:
    types: [created]
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to use'
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set version for manually triggered
        if: github.event_name == 'workflow_dispatch'
        run: |
          VERSION="${{ github.event.inputs.version }}"
          echo "WM_TRANSPORT_VERSION=${VERSION#v}" >> $GITHUB_ENV

      - name: Set version for release
        if: github.event_name == 'release'
        run: |
          VERSION="${{ github.event.release.tag_name }}"
          echo "WM_TRANSPORT_VERSION=${VERSION#v}" >> $GITHUB_ENV

      - name: Build and extract transportService wheel
        uses: docker/build-push-action@v6
        with:
          context: .
          file: docker/transport_service/Dockerfile
          platforms: linux/amd64
          push: false
          target: export
          build-args: WM_TRANSPORT_VERSION=${{ env.WM_TRANSPORT_VERSION }}
          outputs: ./artifacts/transportService/

      - name: Move transport service wheel
        run: |
          mkdir ./artifacts/transportService/wheel/
          mv ./artifacts/transportService/wirepas_gateway-*.tar.gz ./artifacts/transportService/wheel/

      - name: Store artefacts localy
        uses: actions/upload-artifact@v4
        with:
          name: binaries
          path: ./artifacts/

      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_PWD }}
          packages_dir: ./artifacts/transportService/wheel/

